.catalog {
    margin-bottom: 80px;
}

.catalog__order {
    margin-bottom: 30px;
}

.catalog__title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Сетка при помощи грида с автозаполнением. То есть, сетка заполняется автоматически колонками по 145px. 
То есть, если разрешение экрана позволяет, заполнение будет продолжаться. */
.catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 145px);
    /* Каждый элемент сетки будет иметь отсутпы в 10px. */
    gap: 10px;
}

