
/* Я импортировал шрифты в доке fonts.css, теперь надо их прописать под тегом body. */
html {
    /* Я проанализирвоал макет и понял, что он состоит из контейнера в 300px. так же задал отступы для него, 
    потмоу что так в макете. прописал через кастомные свойства, чтобы потом можно было вернуться к ним через запрос var*/
    --container: 300px;
    --padding-container: 10px;
    /* Чтобы размеры всегда высчитывались вместе с padding и border. */
    box-sizing: border-box;
    /* Лучше прописывать, чтобы в конце кода понять, нужны или нет.Сперва можно закоментить.  */
    /* position: relative;
    По оси x если эдемент не вмещается, то просто содержимое не вылезает за пределы блока. Можно добавить скролл потом.
    overflow-x: hidden; */
}

*, *:before, *:after {
    /* Наследование. */
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    min-width: 320px;
    min-height: 100vh;
    background-color: #F9F9F9;
    /* Базовый ввет, котоырй будет наследоваться при помощи inherit. */
    color: #000000;
    /* Типа кроссбраузерность. */
    /* position: relative;
    overflow-x: hidden; */
}
/* Это база, надо всегда прописывать. Чтобы картинки не плавали и работали корретно. */
img, svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
/* Базированные стили для кнопок. Убрал отступы, задал базированный колор, убрал обводку и добавил активный курсор. 
Чтобы не прописывать одно и тоже по 10 раз, надо делать дефолтныестили.  */
button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    /* Наледовать цвет от body. */
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p, figure {
    margin: 0;
}

/* Видео. Убрать обводку.  */
iframe {
    border: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/* База для класса, который добавится в будущем. 
Делает так, чтобы элемент на сайте присуствовал но не был доступен для глаз пользователей. */
.visually-hidden {
    position: fixed;
    transform: scale(0);
}
/* Зада максимальный размер для контейнера при помощи калькулятора, чтобы он высчитывался так:
Те самые кастомные свойства из верха пригодились. Видиммо это нужно для более удобной адаптивной верстки. 
Умножил на 2, потому что отступы с двух сторон */
.container {
    max-width: calc(var(--container) + var(--padding-container) * 2);
    padding: 0 var(--padding-container);
    margin: 0 auto;
}

/* Чтобы значок рубля всегда имел строгий fw на всех браузерах. */
.cyrrency {
    font-weight: 400;
}

/* Здесь в медия я меняю настройки контейнера, заданные вначале на подходящие.  */
@media (min-width: 480px) {
    html {
        --container: 640px;
    }
}
/* И тут тоже самое, только добавил падинги при 768px. */
@media (min-width: 768px) {
    html {
        --padding-container: 64px;
    }
}

@media (min-width: 1024px) {
    html {
        --container: 960px;
        --padding-container: 32px;
    }
}
/* Поскольку много устрйоств под 1360px, надо и под него сделать контент. */
@media (min-width: 1360px) {
    html {
        --container: 1290px;
    }
}
/* ---------------КОД МОЖЕТ НЕ РАБОТАТЬ БАНАЛЬНО ОТ ТОГО, ЧТО Я ЗАБЫЛ ГДЕ-ТО ПОСТАВИТЬ ;;;;;;  ------------------- */